<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Airbnb-es5-代码规范.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897199</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Array-prototype-slice-call-方法详解.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897294</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CSS居中的方式.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896603</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CSS经典布局.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896698</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>ES6之路之模块详解.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896698</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HEXO-Github-搭建属于自己的博客.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896698</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Mongodb数据库操作.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896805</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Object-prototype-toString-call-方法.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897294</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>RESTful-API-最佳实践.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896805</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>React-Fiber-架构学习.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896805</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>React性能优化：Virtual-Dom原理浅析.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896805</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Render-Props-模式.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897294</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>css上下或者上中下-自适应布局.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896901</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>javascript数组.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896901</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>js中多维数组转一维.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897294</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>react-patterns.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896901</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>react-with-typescript.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897401</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>react优化总结.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897401</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>react高阶组件.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896901</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>redux学习笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896996</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>redux源码分析.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896996</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>不能使用箭头函数的场景.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897294</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>中央定时器控制.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896996</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>任务队列、事件循环与定时器.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896996</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>函数缓存.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897103</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>原生实现bind函数.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897199</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>学习BFC.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897103</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>数组去重.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897199</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>569385503.01719701</real>
				<key>lastModification</key>
				<real>569385503.01719701</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>漫谈前端性能，突破React应用瓶颈.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897103</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>现代javascript参考.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897103</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>理解ES6-高阶箭头函数.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897401</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>理解PureComponent.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44896495</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>盘点-React-16-0-16-5-主要更新及其应用.md</key>
			<dict>
				<key>lastModification</key>
				<real>568634594.44897199</real>
				<key>version</key>
				<dict>
					<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>566984289.898224</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>理解PureComponent.md</string>
		</array>
		<array>
			<string>CSS居中的方式.md</string>
		</array>
		<array>
			<string>CSS经典布局.md</string>
		</array>
		<array>
			<string>ES6之路之模块详解.md</string>
		</array>
		<array>
			<string>HEXO-Github-搭建属于自己的博客.md</string>
		</array>
		<array>
			<string>Mongodb数据库操作.md</string>
		</array>
		<array>
			<string>RESTful-API-最佳实践.md</string>
		</array>
		<array>
			<string>React-Fiber-架构学习.md</string>
		</array>
		<array>
			<string>React性能优化：Virtual-Dom原理浅析.md</string>
		</array>
		<array>
			<string>css上下或者上中下-自适应布局.md</string>
		</array>
		<array>
			<string>javascript数组.md</string>
		</array>
		<array>
			<string>react-patterns.md</string>
		</array>
		<array>
			<string>react高阶组件.md</string>
		</array>
		<array>
			<string>redux学习笔记.md</string>
		</array>
		<array>
			<string>redux源码分析.md</string>
		</array>
		<array>
			<string>中央定时器控制.md</string>
		</array>
		<array>
			<string>任务队列、事件循环与定时器.md</string>
		</array>
		<array>
			<string>函数缓存.md</string>
		</array>
		<array>
			<string>学习BFC.md</string>
		</array>
		<array>
			<string>漫谈前端性能，突破React应用瓶颈.md</string>
		</array>
		<array>
			<string>现代javascript参考.md</string>
		</array>
		<array>
			<string>盘点-React-16-0-16-5-主要更新及其应用.md</string>
		</array>
		<array>
			<string>数组去重.md</string>
		</array>
		<array>
			<string>原生实现bind函数.md</string>
		</array>
		<array>
			<string>Airbnb-es5-代码规范.md</string>
		</array>
		<array>
			<string>不能使用箭头函数的场景.md</string>
		</array>
		<array>
			<string>Render-Props-模式.md</string>
		</array>
		<array>
			<string>Array-prototype-slice-call-方法详解.md</string>
		</array>
		<array>
			<string>Object-prototype-toString-call-方法.md</string>
		</array>
		<array>
			<string>js中多维数组转一维.md</string>
		</array>
		<array>
			<string>理解ES6-高阶箭头函数.md</string>
		</array>
		<array>
			<string>react优化总结.md</string>
		</array>
		<array>
			<string>react-with-typescript.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>0737fd2b6406151bd938eb7aa9f55ea7566f15baacd8fe604e580c6d2b246794</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
